.red {
	color: red;
}

td {
	padding: 0 2px;
	text-align: center;
	vertical-align: top;
}
td td:first-child {
	width: 2em;
	text-align: right;
}
table {
	-webkit-border-vertical-spacing: 0;
}

#data-display {
	height: 10em;
}

#left .clickable {
	cursor: pointer;
}
#left .state-none {
	background-color: #fff;
}
#left .state-upvote {
	background-color: #cfc;
}
#left .state-downvote {
	background-color: #fcc;
}

#right, #aye-votes, #nay-votes
{
	background-color: #e0e0e0;
}
